<header class="header">
  <div class="header__container">
    <!-- <div class="container header__container"> -->
    <div class="header__navigation">
      <a class="header__logo" href="./index.html">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/svg/header-icon.svg#icon-film"></use>
        </svg>
        <span class="header__title">Filmoteka</span>
      </a>
      <div class="nav-wrapper">
        <ul class="header__list">
          <li class="header__nav">
            <button type="button" class="header__btn home current lng__home">
              Home
            </button>
          </li>
          <li class="header__nav">
            <button type="button" class="header__btn library lng__library">
              My library
            </button>
          </li>
          <li class="header__nav auth-btn__enter">
            <button type="button" class="header__btn auth-btn lng__mainSignIn">
              sign in
            </button>
          </li>
          <li class="header__nav auth-btn__leave visually-hidden">
            <button type="button" class="header__btn auth-btn lng__signOut">
              sign out
            </button>
          </li>
        </ul>
        <span class="login"></span>
      </div>
    </div>
    <div class="header__box">
      <form class="header__form" action="#" id="header__form">
        <input
          class="header__input lng__mainInput"
          type="text"
          placeholder="Movie search"
          name="searchQuery"
          autocomplete="off"
        />
        <button class="form__btn" type="submit">
          <svg class="form__icon" width="12" height="12">
            <use href="./images/svg/header-icon.svg#icon-search"></use>
          </svg>
        </button>
      </form>

      <div class="filter_conteiner">
        <form list="genres" class="genresList">
          <select id="genres" class="genreList__select">
            <option data-id="" value="" class="lng__choose">
              Choose genre
            </option>
            <option data-id="28" value="Action" class="lng__action">
              Action
            </option>
            <option data-id="12" value="Adventure" class="lng__adventure">
              Adventure
            </option>
            <option data-id="16" value="Animation" class="lng__animation">
              Animation
            </option>
            <option data-id="35" value="Comedy" class="lng__comedy">
              Comedy
            </option>
            <option data-id="80" value="Crime" class="lng__crime">Crime</option>
            <option data-id="99" value="Documentary" class="lng__documental">
              Documentary
            </option>
            <option data-id="18" value="Drama" class="lng__drama">Drama</option>
            <option data-id="10751" value="Family" class="lng__family">
              Family
            </option>
            <option data-id="14" value="Fantasy" class="lng__fantasy">
              Fantasy
            </option>
            <option data-id="36" value="History" class="lng__history">
              History
            </option>
            <option data-id="27" value="Horror" class="lng__horror">
              Horror
            </option>
            <option data-id="10402" value="Music" class="lng__music">
              Music
            </option>
            <option data-id="9648" value="Mystery" class="lng__mystery">
              Mystery
            </option>
            <option data-id="10749" value="Romance" class="lng__romance">
              Romance
            </option>
            <option data-id="878" value="Science" class="lng__science">
              Science Fiction
            </option>
            <option
              data-id="10770"
              value="Internet  Explorer"
              class="lng__moovie"
            >
              TV Moovie
            </option>
            <option data-id="53" value="Firefox" class="lng__thriller">
              Thriller
            </option>
            <option data-id="10752" value="Google Chrome" class="lng__war">
              War
            </option>
            <option data-id="37" value="Opera" class="lng__western">
              Western
            </option>
          </select>
        </form>
        <form class="year" onsubmit="return false">
          <input
            type="number"
            class="header__input--year lng__yearInput"
            placeholder="Year"
          />
        </form>
      </div>
    </div>
    <!-- <div class="auth-info-container">

    </div> -->

    <div class="header__buttons visually-hidden">
      <button class="lib__btn watchedBtn current__libBtn neon lng__watched">
        watched
      </button>
      <button class="lib__btn queueBtn neon lng__queue">queue</button>
      <br />
      <button class="lib__btn clearBtn neon lng__clear">clear</button>
    </div>
    <div class="checkbox-group-wrapper">
      <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </label>
      </div>
      <div class="lang__switch--wrapper" id="lang-switcher">
        <label class="lang__switch" for="lang-checkbox">
          <input type="checkbox" id="lang-checkbox" />
          <div class="slider round"></div>
        </label>
      </div>
    </div>
  </div>
</header>
