
.body-container {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  @media (min-width: $min-tablet) {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
  }
}

.film__wrap {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: start;
  cursor: pointer;
  @media (min-width: $min-tablet) {
    width: calc(49% - 15px);
    margin: 0 32px 32px 0;
  }
  @media (min-width: $min-desktop) {
    margin-right: 15px;
    width: 32%;
  }
  &:nth-child(2n) {
    @media (min-width: $min-tablet) and (max-width: $min-desktop) {
      margin: 0 0 32px 0;
    }
  }
  &:nth-child(3n) {
    @media (min-width: $min-desktop) {
      margin: 0 0 32px 0;
    }
  }
  &:hover {
    transform: scale(1.01);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: $transition;
  }
}

.film__img {
  border-radius: 5px;
  margin-bottom: 10px;
  object-fit: cover;
  @media (min-width: $min-tablet) {
    margin-bottom: 8px;
  }
  @media (min-width: $min-desktop) {
    max-height: 574px;
    margin-bottom: 12px;
  }
}

.film__text {
  font-family: $fonts;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  @media (min-width: $min-desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film__name {
  color: $black-color;
  text-transform: uppercase;
}

.film__description {
  color: $orange-color;
}
