.header {
  height: 230px;
  // background-color: #545454;
  background-image: url(../images/img/mob/header-bg-lines-mob-1x.png),
    linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/img/mob/header-bg-lines-mob-2x.png),
      linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
  @media screen and (min-width: $min-tablet) {
    height: 216px;
    background-image: url(../images/img/tab/header-bg-lines-tab-1x.png),
      linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/img/tab/header-bg-lines-tab-2x.png),
        linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
    }
  }
  @media screen and (min-width: $min-desktop) {
    background-image: url(../images/img/desktop/header-bg-lines-desk-1x.png),
      linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/img/desktop/header-bg-lines-desk-2x.png),
        linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
    }
  }
}
.header__library {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/img/mob/header-bg-seats-mob-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/img/mob/header-bg-seats-mob-2x.png);
  }
  @media screen and (min-width: $min-tablet) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/img/tab/header-bg-seats-tab-1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/img/tab/header-bg-seats-tab-2x.png);
    }
  }
  @media screen and (min-width: $min-desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/img/desktop/header-bg-seats-desk-1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/img/desktop/header-bg-seats-desk-2x.png);
    }
  }
}

.header__container {
  padding: 40px 20px;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $min-mobile) {
    max-width: 480px;
  }
  @media (min-width: $min-tablet) {
    max-width: 1023px;
    padding: 40px 32px;
  }
  @media (min-width: $min-desktop) {
    min-width: 1024px;
    max-width: 1280px;
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $white-color;

  display: flex;
  align-items: center;
  text-align: center;
}

.logo__icon {
  // animation logo
  animation: scale-logo 5000ms infinite linear;

  @keyframes scale-logo {
    0% {
      transform: scale(0.75) rotate(180deg);
    }

    50% {
      transform: scale(1.25);
    }

    100% {
      transform: scale(0.75) rotate(360deg);
    }
  }
}

.header__title {
  display: none;
  @media screen and (min-width: $min-tablet) {
    display: block;
    margin-left: 10px;
  }
}

.header__list {
  display: flex;
}

.header__nav:not(:last-child) {
  margin-right: 40px;
}

.header__btn {
  color: $white-color;
  background-color: transparent;
  border: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    color: $red-color;
  }
}

.current::after {
  bottom: -3px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: $red-color;
}

.header__form {
  // width: 100%;
  position: relative;
  height: 20px;
  margin: 56px auto;
  border-bottom: 0.5px solid $white-color;
  @media screen and (min-width: $min-tablet) {
    margin: 41px auto;
    width: 336px;
  }
  @media screen and (min-width: $min-desktop) {
    margin: 40px auto;
    width: 394px;
  }
}

.header__input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: $white-color;
  outline: none;
}

.form__btn {
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  outline: none;
}

.header__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.5);
}

.lib__btn {
  width: 130px;
  height: 44px;
  margin-top: 62px;

  text-transform: uppercase;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  cursor: pointer;
  color: $orange-color;
  background-color: transparent;
  border: 1px solid #ff6b08;
  transition: 0.2s;
  @media (min-width: $min-tablet) {
    width: 152px;
    margin-top: 40px;
  }
  @media (min-width: $min-desktop) {
    width: 147px;
    margin-top: 40px;
  }
}

.lib__btn:hover {
  color: $white-color;
  border: 0;
}

.queueBtn {
  margin-left: 20px;
  @media (min-width: $min-tablet) {
    margin-left: 32px;
  }
  @media (min-width: $min-desktop) {
    margin-left: 16px;
  }
}

// .current__libBtn {
//   background: $orange-color;
//   border: none;
//   box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
//   border-radius: 5px;
// }

.neon:hover {
  background-color: #ff6b08;
  // box-shadow: 10px 10px 100px 6px rgba(255, 3, 3, 1);
  box-shadow: 10px 10px 100px 20px rgb(229, 80, 50, 1);
}

.currentMyLib{
  background-color: #ff6b08;
  box-shadow: 10px 10px 100px 20px rgb(229, 80, 50, 1);
  color: $white-color;
}